body {
    font-family: sans-serif;
    margin: 20px;
}

h4 {
    margin: 20px;
    font-family: sans-serif;
    font-size: 18px;
    color: #c41e3a;
}

h3 {
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 20px;
}

h3.widget-title:before {
    content: url('..images/mars.png');
}


input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[name="end"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

button[name="end"]:hover {
    background-color: #3e8e41;
}